.report-page {
  &__content {
    flex: 1;
    height: calc(100vh - 200px);
  }

  &__actions {
    display: flex;
    gap: $space-3;
    padding: $space-4;
    background: #fff;
    border-top: 1px solid #f0f0f0;
  }

  &__action {
    flex: 1;
  }
}
